<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Click for Awesome Mars Facts!!</a></p>
    </div>
    <div class="row" id="mars-news">
      <div class="col-md-12">
        <h2 class="heading">Latest Mars News</h2>
        <h4 class="heading">{{mars.news_title}}</h4>
        <p>{{mars.news_p}}</p>
      </div>
    </div>
    <div class="row" id="mars-img">
        <div class="col-md-7">
            <h2>Featured Mars Image </h2>
            <img src={{mars.img}} alt="mars-img" width="450" height="350">
        </div>
        <div class="col-md-5">
            <h2>Current weather on Mars </h2>
            <p>{{mars.weather}}</p>
        </div>
        <div class="col-md-5">
            <h2>Mars Facts</h2>
            {{mars.facts|safe}}
        </div>
      </div>
      <div class="row" id="mars-news">
          <div class="col-lg-35">
            <h2 class="heading"></h2>
          </div>
        </div>
</body>

</html>

